# This .gitignore file should be placed at the root of your Unity project directory
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

# Ignore the following recommended files and folders from the Unity gitignore template
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/

/t_BurstDebugInformation_DoNotShip/
/t.apk
/.idea
/ProjectSettings
/Packages
